<main>
  <div class="is-flex is-flex-direction-column is-vcentered container">
    <div
      class="is-flex is-flex-direction-column is-align-items-center my-5"
      *ngIf="this.randomText === ''"
    >
      <!-- Show loading spinner if randomText is empty -->
      <div class="lds-ring"><div></div></div>
      Loading...
    </div>
    <div class="card-content" *ngIf="this.randomText !== ''">
      <!-- Show game content if randomText is not empty -->
      <progress
        class="progress is-primary"
        [value]="currQuote"
        [max]="maxQuotes"
      ></progress>
      <nav class="level is-justify-content-space-around">
        <!-- Display timer and score -->
        <div>
          <p class="heading has-text-centered">Timer</p>
          <p class="title has-text-centered">
            {{ this.timer.toFixed(1) }}
          </p>
        </div>
        <div>
          <p class="heading has-text-centered">Score</p>
          <p class="title has-text-centered">{{ this.score.toFixed(1) }}</p>
        </div>
      </nav>
      <div class="m-3">
        <span *ngFor="let c of randomText.split(''); let i = index">
          <!-- Loop through each character of the randomText -->
          <span [class]="getColor(c, textEntered[i])">{{ c }}</span>
          <!-- Apply CSS class based on getColor() method -->
        </span>
      </div>
      <div class="field has-addons">
        <input
          [class]="
            this.randomText === this.textEntered
              ? 'input is-success'
              : 'input is-warning'
          "
          type="text"
          placeholder="Type here..."
          (input)="onInput($event)"
          [readonly]="this.randomText === this.textEntered"
          #userInput
        />
        <div class="control is-flex is-align-items-center ml-2">
          <button
            (click)="this.deleteInput()"
            class="delete is-small"
            [disabled]="this.textEntered === this.randomText"
          ></button>
        </div>
      </div>
      <div class="has-text-centered">
        <button
          class="button is-success is-light"
          (click)="this.nextQuote()"
          [disabled]="this.textEntered !== this.randomText"
        >
          Next
        </button>
        <button
          class="button is-warning is-light ml-3"
          (click)="this.resetHandler()"
          [disabled]="this.textEntered === this.randomText"
        >
          Reset Game
        </button>
        <div
          [class]="this.maxWaitReached ? 'modal is-active' : 'modal is-clipped'"
        >
          <!-- Show modal if maxWaitReached is true -->
          <div class="modal-background"></div>
          <div class="modal-content">
            <p>
              Max time reached! <span class="has-text-danger">You lost.</span>
            </p>
            <button class="button is-primary mt-5" (click)="this.gameInit()">
              Start Again
            </button>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>

        <div
          [class]="
            this.currQuote >= this.maxQuotes
              ? 'modal is-active'
              : 'modal is-clipped'
          "
        >
          <!-- Show modal when the game is completed -->
          <div class="modal-background"></div>
          <div class="modal-content">
            <p class="mb-3">
              <span class="has-text-success-dark has-text-weight-bold"
                >Congratulations!</span
              >
            </p>
            <p>You have finished all the quotes.</p>
            <p>
              Your final score is:
              <span class="tag is-primary is-medium m-1">{{
                this.score.toFixed(1)
              }}</span>
            </p>
            <button class="button is-primary mt-5" (click)="this.gameInit()">
              Start Again
            </button>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      </div>
    </div>
  </div>
</main>
